<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771443219333-iagn4nq2lue5l2avm1euhlqi6rmgvgn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771443219333-iagn4nq2lue5l2avm1euhlqi6rmgvgn3</string>
	<key>API_KEY</key>
	<string>AIzaSyCdMSNcNFF4IZuBJNBP4iN04N5OaYBP3xI</string>
	<key>GCM_SENDER_ID</key>
	<string>771443219333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyefu.flutterAppInstaclone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-e7b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-e7b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771443219333:ios:9e1374425ddb915ecfc2ec</string>
</dict>
</plist>